<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->


    <title>RPZ Switches Archive</title>

</head>

<body>
<br>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Authentication Success</h4>
    <p>Well! GOOD!.</p>
    <hr>
    <p class="mb-0">Authentication Success - {{ success_message }}</p>
</div>
<br>


</body>
</html>
