<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->


    <title>RPZ Switches Archive</title>

</head>

<body>
<br>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Switch config library</h4>
    <p>Архивируемые коммутаторы.</p>
    <hr>
</div>
<br>


</body>

<body>

<table>
  {#  хедер #}
  <thead>
    <tr>
      <th>{{'IP   Model   Serial '}}</th>
    </tr>
  </thead>
  <tbody>
    {% for row in all_sw %}
    <tr>
      {% for k, col_value in row.items() %}
          {% if k == 'ip' %}
            <td><a href="ip/{{ col_value  }}">{{ col_value  }}{{ '  _ _ _'}}</a></td>

          {% else %}
            <td>{{ col_value  }}{{ '  _ _ _'}}</td>
          {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>


</body>
</html>
